<h2>Backlight
    {% if light_state %}
        <span class="badge badge-warning">
            ON <i class="fas fa-sun"></i>
        </span>
    {% else %}
        <span class="badge badge-secondary">
            OFF <i class="fas fa-moon"></i>
        </span>
    {% endif %}
</h2>
<form action="" method="post" name="backlight" class="form-inline mt-5">
    {{ backlight_form.hidden_tag() }}
    {% if backlight_form.ir.errors %}
    <div class="form-group has-error mb-2 mr-sm-2">
    {% else %}
    <div class="form-group mb-2 mr-sm-2">
    {% endif %}
        <div class="custom-control custom-switch mb-2">
            {{ backlight_form.ir(class="custom-control-input") }}
            {# <input type="checkbox" class="custom-control-input" id="customSwitch1"> #}
            <label class="custom-control-label" for="backlight-ir">IR Backlight</label>
        </div>
        {% for error in backlight_form.ir.errors %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{error}}
        </div>
        {% endfor %}
    </div>
    <button type="submit" name="action" value="set" class="btn btn-info mb-2" aria-label="Set">
        Apply
    </button>
</form>
