 [Unit]
 Description=Activate access point or satellite modes according to GPIO21 status.
 After=local-fs.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /etc/ChronoRoot/check_mode.py

 [Install]
 WantedBy=local-fs.target
